
@{
    ViewData["Title"] = "ConfirmPassword";
    Layout = "~/Views/Login/Privacy.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group">
                    <div class="col-12 card-body">
                        <div class="card-header">
                            <div class="text-center">
                                <h4><b>ยืนยันการลงทะเบียนผ่าน Email</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <div class="form-group mb-3 col-md-12 text-center">
                                        <div>ระบบได้ทำการส่งอีเมล์ เพื่อทำการรีเซทรหัสผ่านไปที่ อีเมล์ : Test แล้ว</div>
                                        <div>กรุณาทำการตรวจสอบและยืนยันผ่าน อีเมล จึงจะสามารถเข้าใช้งานได้</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="form-group col-md-4 text-center">
                                        <a asp-area="" asp-controller="Login" asp-action="Index" class="btn btn-primary btn-add button-logins">เข้าสู่ระบบ</a>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

